@use "../../../app/styles/variables.scss" as *;

.keyBoardLetters {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0000001e;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 999;
  padding-bottom: 80px;
//   pointer-events: none;

  &__container {
    width: 1912px;
    height: 528px;
    padding: 48px 84px;
    border-radius: 60px;
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-bottom: 40px;
    pointer-events: auto;
  }

  &__key {
    color: $text-color-brown;
    font-size: 36px;
    font-weight: 400;
    width: 130px;
    height: 96px;
    border: none;
    background-color: #ffffff;
    border-bottom: 1px solid #be333366;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__keyNumber {
    color: $text-color-brown;
    font-size: 36px;
    font-weight: 400;
    width: 208px;
    height: 96px;
    border: none;
    background-color: #ffffff;
    border-bottom: 1px solid #be333366;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__key-shift {
    width: 208px;
    background: #be33331a;
  }

  &__key-backspace {
    width: 206px;
    background: #be33331a;
  }

  &__key-space {
    width: 1424px;
    font-weight: 500;
  }

  &__key-enter {
    width: 304px;
    background: $color-right;
    color: #ffffff;
  }

  &__key-enterNumber {
    width: 208px;
    background: $color-right;
    color: #ffffff;
  }

  &__cross {
    width: 574px;
    height: 112px;
    border-radius: 56px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    pointer-events: auto;
  }

  &__BoxNumber {
    width: 656px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  &__boxInput {
    display: flex;
    gap: 48px;

    pointer-events: auto;
  }

  &__keyboardInput {
    width: 576px;
    height: 160px;
    margin-bottom: 40px;
    border-radius: 60px;
    border: none;
    font-size: 48px;
    outline: none;
    text-align: center;
    border: 8px solid #BE3333;
  }

  &__buttonPagination {
    width: 263px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    background: #ffffff;
    border: none;
    cursor: pointer;
  }

  &__buttonPaginationVisible {
    opacity: 0.4;
  }
}
